<!--部分テンプレート-->
<div class="col-xs-3">
   <h2>User info</h2>
    <table class="table">
    <tr><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></tr>
  <tr>
  <th>name <%= user.name %></th>
</tr>
<tr>
<th>Introduction <%= user.introduction %></th>
</tr>
</table>

<div class="row">
  <% if user.id == current_user.id %>
        <%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    <% end %>
</div>

<h2>ユーザー詳細ページ</h2>
<p><%= "id: #{user.id}" %></p>
<p><%= "フォロー数: #{user.follower.count}" %></p>
<p><%= "フォロワー数: #{user.followed.count}" %></p>
<% unless  user == current_user %>
  <% if current_user.following?( user) %>
    <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
  <% end %>
<% end %>
<p></p>

<!-- フォロー機能の実装 -->
<h3>フォロー一覧</h3>
  <% user.following_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>
<h3>フォロワー一覧</h3>
  <% user.follower_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>

<h2>New book</h2>

<%= form_for(book) do |f| %>
<div class="field row">
  <label>Title</label>
  <%= f.text_field :title, class:"col-xs-12 book_title" %>
</div>

<div class="field row">
  <label>Opinion</label>
  <%= f.text_area :body, class:"col-xs-12 book_body" %>
</div>

<div class="actions row">
  <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
</div>
<% end %>

</div>
<!-- ここまで -->
